[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.3"
itsdangerous = "==2.0.1"
Flask = "==2.0.2"
Jinja2 = "==3.0.2"
MarkupSafe = "==2.0.1"
Werkzeug = "==2.0.2"

[dev-packages]

[scripts]
server = "python3 app.py"

[requires]
python_version = "3.9"
